ul {
    list-style-type: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.maand {
    padding: 70px 25px;
    width: 100%;
    background: #587dd9;
    text-align: center;
}

.maand ul {
    margin: 0%;
    padding: 0%;
}

.maand ul li {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.maand .prev {
    float: right;
    padding-top: 10px;
}

.dagen {
    margin: 0;
    padding: 10px 0;
    background-color: #4b00e0;

}

.dagen li {
    display: inline-block;
    width: 13.6%;
    color: #ffffff;
    text-align: center;
}

.dag {
    padding: 10px 0;
    background-color: #4b00e0;
    margin: 0;
}

.dag li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ffffff;
}

.dag li .active {
    padding: 5px;
    background: #4b00e0;
    color: #ffffff !important
}